[Unit]
Description=Okuru

[Service]
Type=simple
WorkingDirectory=/home/freebox/Okuru
EnvironmentFile=/home/freebox/Okuru/.env
ExecStart=/home/freebox/Okuru/Okuru
Restart=always
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Okuru

[Install]
WantedBy=multi-user.target
