<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{ APP_NAME }}</title>
    <meta charset="utf-8">

    <meta name="description" content="Welcome to my Snappass!">
    <meta name="author" lang="fr" content="Jean-Philippe MENCH">
    <meta name="publisher" content="Jean-Philippe MENCH">
    <meta name="keywords" content="IT Manager, Tech, Snappass">
    <meta property="og:title" content="Snappass 🔐">
    <meta property="og:description" content="Welcome to my Snappass!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://share.jeanphilippe.io/images/Snappass.png">
    <meta property="og:image:secure_url" content="https://share.jeanphilippe.io/images/Snappass.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:image:alt" content="Welcome to my Snappass!">
    <meta property="og:url" content="https://share.jeanphilippe.io/">
    <meta property="og:url:secure" content="https://share.jeanphilippe.io/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none, nosnippet, noarchive, notranslate, noimageindex">
    <meta name="apple-mobile-web-app-title" content="Snappass 🔐">
    <meta name="application-name" content="Snappass 🔐">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/images/mstile-70x70.png">
    <meta name="msapplication-TileImage" content="/images/mstile-144x144.png">
    <meta name="msapplication-TileImage" content="/images/mstile-150x150.png">
    <meta name="msapplication-TileImage" content="/images/mstile-310x150.png">
    <meta name="msapplication-TileImage" content="/images/mstile-310x310.png">
    <meta name="theme-color" content="ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
    <link rel="favicon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#333333">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/custom.css">
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" translate=no href="/">{{ APP_NAME }}</a>
    {% if(logo) %}<a class="navbar-brand" href="https://www.jeanphilippe.io/" rel="noopener noreferrer nofollow" target="_blank"><img src="/images/logo.png" width="45" height="45" alt="LinkedIn" srcset="/images/logo@2x.png 2x, /images/logo@3x.png 3x" alt="Logo" /></a>{% endif %}

    </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/file">File Upload <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
</nav>    

<div class="container">
{% block content %}{% endblock %}
<hr />
<footer>
{% if(disclaimer) %}
{% autoescape off %}
{{ disclaimer }}
{% endautoescape %}
{% endif %}
{% if(copyright) %}
{% autoescape off %}
{{ copyright }}
{% endautoescape %}
{% endif %}
</footer>
</div>
<script src=/scripts/bootstrap-native.min.js></script>
{% block js %}{% endblock %}
</body>
</html>
