{% extends "base.html" %}

{% block content %}
<section>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h2>Get Your Secret</h2>
    </div>
    <div>
        <p><span>{% if (errors) %}&#9940{{ errors }}{% endif %}</span> </p>
    </div>
    <form role="form" id="file_create" method="POST" class="form-horizontal" enctype="multipart/form-data">
        <div class="text-center">
            {% if passwordNeeded %}
            <div class="col">
                <div class="form-group">
                    <label for="password">&#128273 Please, enter the file password:</label>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <input type="password" id="password" name="password" minlength="5" maxlength="255" autofocus="autofocus" class="form-control" placeholder="Password is required. If a wrong one is provided, this will be counted as a failed access attempt &#9888" title="Password is required. If a wrong one is provided, this will be counted as a failed access attempt&#9888" aria-describedby="basic-addon1" autocomplete="off" />
                </div>
            </div>
            {% endif %}
            <br>
            <div class="col">
                    <div id="revealarea" class="row">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button id="revealbutton" class="btn btn-primary">Download</button>
                    </div>
            </div>
        </div>
    </form>
    <br>
    <p>
        &#9989The file is {% if f.Deletable == true %}<a href="{{ deletableURL }}">{{ deletableText }}</a> {% else %} {{ deletableText }} {% endif %} and up for <b>{{ ttl }}</b> / <b>{{ dlViews }} left</b>.
        <br>After that it will be <u>permanently deleted</u> from the server and the URL will no longer work.
    </p>
</section>
{% endblock %}
