{% extends "base.html" %}

{% block content %}
<section>
    <input type="hidden" id="csrfToken" value="{{ csrfToken }}">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h2>Get Your Secret</h2>
    </div>
    <div>
        <p><span id="errorMessage">{% if (errors) %}&#128683{{ errors }}{% endif %}</span> </p>
    </div>
    <br>
    <div id="revealarea" class="text-center">
        <button id="revealbutton" class="btn btn-primary">Show password</button>
    </div>
    <div id="passwordarea" class="row">
        <div class="col">
            <label for="password-text">Save the following secret to a <b>secure location</b>.</label>
            <textarea class="form-control" rows="10" cols="50" id="password-text" name="password-text" readonly="readonly">{{ p.Password }}</textarea>
        </div>
        <div class="col">
            <label for="copy-clipboard-btn">Copy it</label><br/>
            <button title="Copy to clipboard" type="button" class="btn btn-primary copy-clipboard-btn" id="copy-clipboard-btn" data-clipboard-target="#password-text" data-placement="bottom">
                <i class="fa fa-clipboard"></i>
            </button>
        </div>
    </div>
    <br>
    <p>
        &#9989The secret is {% if p.Deletable == true %}<a href="{{ deletableURL }}">{{ deletableText }}</a>{% else %}{{ deletableText }}{% endif %} and up for <b>{{ ttl }}</b> / <b>{{ ttlViews }} left</b>.
        <br>After that it will be <u>permanently deleted</u> from the server and the URL will no longer work.
    </p>
</section>
{% endblock %}

{% block js %}
<script src="/scripts/clipboard.min.js"></script>
<script src="/scripts/purify.min.js"></script>
<script type="application/javascript">
(function() {
    new ClipboardJS("#copy-clipboard-btn");

    // Check for Trusted Types Browser support and create a dedicated Policy if available, otherwise use DOMPurify.
    const sanitizeHTML = window.trustedTypes && trustedTypes.createPolicy
        ? (string) => trustedTypes.createPolicy('myPolicy', {
            createHTML: (string) => DOMPurify.sanitize(string)
        }).createHTML(string)
        : (string) => DOMPurify.sanitize(string);

    // DOM elements.
    const revealButton = document.getElementById("revealbutton");
    const revealArea = document.getElementById("revealarea");
    const passwordArea = document.getElementById("passwordarea");
    const errorMessage = document.getElementById("errorMessage");
    const csrfToken = document.getElementById('csrfToken').value; // Retrieve the CSRF token using its ID.

    function reloadPageAfterDelay() {
        setTimeout(() => {
            window.location.replace(window.location.href);
        }, 5000);
    }

    revealButton.addEventListener("click", function() {
        const key = window.location.pathname;
        const xmlHttp = new XMLHttpRequest();
        const uri = `${window.location.protocol}//${window.location.host}${key}`;

        xmlHttp.open("POST", uri);
        xmlHttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xmlHttp.onload = function() {
            if (xmlHttp.status === 200) {
                const password = xmlHttp.responseText;
                const passwordText = document.getElementById("password-text");

                revealArea.style.display = "none";
                passwordText.value = password;
                passwordArea.style.display = "block";
            } else {
                errorMessage.innerHTML = sanitizeHTML(xmlHttp.status === 404
                    ? "&#128683; Password not found in this server"
                    : "&#128683; A problem occurred while retrieving the password, please try again");
                reloadPageAfterDelay();
            }
        };

        // Send the CSRF token.
        xmlHttp.send("_csrf=" + encodeURIComponent(csrfToken));
    });
})();
</script>
{% endblock %
