html, body {
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
    font-size: clamp(12px, 4vw, 18px);
}

p {
  font-size: 2vmin;
}

p span {
  color: red;
}

a { 
  text-decoration: none;
}

a.footer:link {
   color:#007bff;
}

a.footer:visited {
   color:#007bff;
}

a.footer:hover {
   color: #0b5ed7;
}

.col {
    margin-left: auto; 
    margin-right: auto;
}

#passwordarea {
    display: none; 
}

#revealarea {
    margin: auto; 
}

#revealbutton {
    margin: auto; 
}

.break-word {
    word-wrap: break-word;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

input[readonly].readonly-text {
    background-color: #fff;
    cursor: text;
}

.container {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

.hidden-input {
    display: none;
}

@media (prefers-color-scheme: light) {
  .site-title, body {
    color: #fff;
  }
  .site-content, body {
    color: #000;
    background: #f9f9f9;
  }
  .btn-primary {
  color: #000;
  background-color: #ffffff;
  border-color: #007bff;
  }
}

@media (prefers-color-scheme: dark) {
  .site-title, body {
    color: #fff;
  }
  .site-content, body {
    color: #fff;
    background: #141414;
  }
  .btn-primary {
    color: #000;
    background-color: #007bff;
    border-color: #007bff;
  }
  hr {
    border-top: 1px solid white;
  }
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: calc(var(--bs-navbar-padding-y, .5rem) + env(safe-area-inset-top));
  background-clip: padding-box;
}
