html {
    position: relative;
    min-height: 100%;
    font-size: clamp(12px, 4vw, 18px);
}

p {
  font-size: 2vmin;
}

p span {
  color: red;
}

a { 
  text-decoration: none;
}

.break-word {
    word-wrap: break-word;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

input[readonly].readonly-text {
    background-color: #fff;
    cursor: text;
}

.container {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}

@media (prefers-color-scheme: light) {
  .site-title, body {
    color: #fff;
  }
  .site-content, body {
    color: #000;
    background: #f9f9f9;
  }
  .site-header {
    background: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  .navbar-default {
    background-color: #000000;
    border-color: #000000;
  }
  .site-title, body {
    color: #fff;
  }
  .site-content, body {
    color: #fff;
    background: #141414;
  }
  .site-header {
    color: #fff;
    background: #141414;
  }
  hr {
    border-top: 1px solid white;
  }
}
